extends layout

block content
  h1 New Message
  form.create(action='/new', method='POST')
    label(for='authorName') Author Name:
    input.authorName(name='authorName', type='text')
    label(for='newMessage') Message:
    input.newMessage(name='newMessage', type='text')
    input(type='submit', value='Submit')
